<header th:fragment="headerLayout" style="display: flex; justify-content: space-between">
    <div>
        <div style="display: inline-block">
            <h1>My All-Star Team</h1>
        </div>
        <div style="display: flex; align-items: center; margin-left: auto; float: right"> <!-- margin-left: auto 추가 -->
            <p id="usernameDisplay" style="margin-right: 10px; font-size: 1.1em; font-weight: bold; line-height: 40px"
               sec:authorize="isAuthenticated()">
                Welcome, <span th:text="${#authentication.principal.username}"></span>
            </p>
            <form action="/logout" method="POST" style="margin: 0;" sec:authorize="isAuthenticated()">
                <button type="submit" style="
                    width: 74px;
                    height: 40px;
                    font-size: 15px;
                    background-color: white;
                    color: #0073e6;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 15px;
                    cursor: pointer;
                    outline: none;
                    margin-left: 10px;
                ">
                    Logout
                </button>
            </form>
        </div>
    </div>
</header>





